// src/components/VehicleList/VehicleList.scss

.vehicle-list {
    max-width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas para mostrar tres tarjetas por fila */
    gap: 30px; /* Espacio entre las tarjetas */
    padding: 0vw 2vw 2vw 2vw;
  }
  
  /* Media queries para pantallas más pequeñas */
  @media (max-width: 768px) {
    .vehicle-list {
      flex-direction: column;
        padding: 0vw 5vw 2vw 5vw;
        grid-template-columns: repeat(1, 1fr); /* Dos columnas en pantallas más pequeñas */
    }
  }

  