.wrap-requirements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; // Espacio entre tarjetas
    justify-content: center;

    .requirement-card {
        max-width: 300px; // Ancho máximo de cada tarjeta
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        background-color: #202020;
        text-align: center;
        padding: 20px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        &.requirement-image-card {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            .requirement-featured-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}
