#free-services {
    padding: 60px 20px;
    background-color: #242424;

    .wrap-title-section {
        text-align: center;
        margin-bottom: 3rem;

        h2 {
            font-size: 2.5em;
            font-weight: 700;
            color: #c4c4c4;
        }
    }

    .wrap-services {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .service-card {
        background-color: #202020;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        padding: 3rem;
        text-align: center;
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;

        &.in-view {
            opacity: 1;
            transform: translateY(0);
        }

        .service-icon {
            width: 60px;
            height: 60px;
            margin-bottom: 15px;
            filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1));
        }

        h3 {
            font-size: 1.5em;
            margin-bottom: 10px;
            color: #c4c4c4;
        }

        p {
            color: #c4c4c4;
            font-size: 1em;
            line-height: 1.5;
        }

        &:hover {
            background-color: #1c1c1c;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
    }

    @media (max-width: 768px) {
        .wrap-services {
            flex-direction: column;
            align-items: center;
        }

        .service-card {
            width: 80%;
            max-width: 500px;
        }
    }
}
