.category-filters {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #242424;

    .filter-buttons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 25px; 
    }
}

.filter-button {
    height: 2.5rem;
    width: 15vw;
    margin: 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
    background-color: red;
    transform: translateY(-1vh);
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
}

.filter-button.active {
    background-color: #cc0000;
    color: white;
    box-shadow: 0 0.7vh 1.5vh rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    scale: 0.95;
}

.filter-button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .category-filters {
        display: grid;
        grid-template-rows: auto;
        justify-content: center; 
        align-items: center;

        .filter-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center; 
            align-items: center;
            gap: 25px
        }

        .filter-button {
            width: 150px; 
            text-align: center; 
        }
    }

}