#root {
  margin: 0 auto;
  text-align: center;
  background-color: #242424;
  width: 100vw;
}

body {
  width: 100vw;
  font-size: 32px;
  background-color: #242424;

}

.car-list {
  max-width: 100vw;
}