.wrap-title-section {
    text-align: center;
    padding: 110px;

    h2 {
        font-size: 4rem;
        color: #c4c4c4;
        margin: 0;
    }

    h3 {
        font-size: 2.5rem;
        color: #c4c4c4;
    }
}