.wrap-title-section {
    text-align: center;
    margin-bottom: 2rem;
    align-items: center;


    h2 {
        color: #c4c4c4;
        font-size: 4rem;
    }
    
    h3 {
        max-width: 100%;
        font-size: 2.5rem;
        color: #c4c4c4;
    }
}
@media (max-width: 768px) {
    .wrap-title-section {
        display: flex;              
        justify-content: center;    
        align-items: center;       
        padding: 85px;

        h2 {
            font-size: 3rem;           
            max-width: 100%;       
            text-align: center;     
        }
    }
}
